- if Spree::Post.all.any?
  .news
    %p
    #news
      %ul
        - Spree::Post.published.each do |post|
          %li#news
            %b= post.created_at.strftime("%B %d, %Y")
            = ': '
            = post.description

:javascript
  $(document).ready(function() {
  var options = {
    newsList: "#news",
    startDelay: 10,
    placeHolder1: ""
  }
  $().newsTicker(options);
  });