- if Spree::Tick.all.any?
  .news
    %p
    #news
      %ul
        - Spree::Tick.published.each do |tick|
          %li#news
            %b= tick.created_at.strftime("%B %d, %Y")
            = ': '
            = tick.description

:javascript
  $(document).ready(function() {
  var options = {
    newsList: "#news",
    startDelay: 10,
    placeHolder1: ""
  }
  $().newsTicker(options);
  });