// Place all the styles related to the spree_posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#news h6 {
    color: black
}

#news li {
    color: #2E6AB1;
    /*list-style-type: none;*/
    list-style-image:url('tweet.gif');
    font-weight:bold;
}

