// Place all the styles related to the spree_posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.news-ticker {
  h3 {
    color: #00ADEE;
  }
  background: white;
}

#news-container {
  margin-top: -20px;
}

#news-container ul li div {
  min-height: 30px;
  background: white;
  text-align:left;
}

