// Place all the styles related to the spree_ticks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#news h6 {
    color: black
}

@-moz-document url-prefix() {
 #news_ticker {
    padding-left: 50px;
    }
}

#news li {
    color: #2E6AB1;
    /*list-style-type: none;*/
    list-style-image:url('peck.gif');
    font-weight:bold;
    padding-left: 50px\0/ !important;
}

